# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Optional npm cache directory
.npm/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific settings
.vscode/
.idea/
*.swp
